body{   display: flex;
align-items: center;
  justify-content: center
}
.game{
    flex-direction: row; 
}
.square{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 96px;
    font-weight: bold;
    line-height: 127px;
    height: 128px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 128px;
}